.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* My own CSS  */


.nav {
  background-color: #CCE6B3;
  color: white;
  text-align: center;

  
  

}

.nav a{
  display: inline-block;
  padding: 30px;
  margin: 0;
  font-family: 'Abril Fatface', cursive;
  color: #50C878;
  font-size: 25px;
}

.nav a:hover {
  background-color: #E6B3B3;
}

body {
  background-color: #B3B3E6;
  text-align: left;
}

.stocks{
  font-family: 'Berkshire Swash', cursive;
}




.singleStock h1{
  text-align: center;
  font-size: 35px;
  font-family: 'Berkshire Swash', cursive;
  
}
.singleStock h3{
  font-size: 30px;
  text-align: center;
}

.singleStock h4{
  text-align: left;
  padding: 20px;
  font-family: 'Berkshire Swash', cursive;
  font-size: 25px;
}

.about h1{
  font-family:  'Dancing Script', cursive;
  font-size: 35px;
}

.home {
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
}